a{
	margin-right: 1%;
	margin-left: 1%;
}

canvas{
	margin-right: auto;
	margin-left: auto;
}

.record{
	width: 75%;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1%;
	background-color: lightgray;
	margin-right: auto;
	margin-left: auto;
}